html, body {
position: relative;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
background: linear-gradient(10deg, #6db9ef, #6fb4df 0%, #e2ebf0 100%); /* Page gradient background */
}

body, h1, h2, p, input, button, select, textarea {
font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
color: #333;
}

header {
background-color: #ffffff; /* Slightly lighter for a modern look */
padding: 1.5rem 0;
color: white;
text-align: center;
}

h1 {
margin: 0;
font-size: 2rem;
}

h2 {
margin-top: 0.5rem;
font-size: 1.2rem;
color: rgb(0, 0, 0);
}

nav {
display: flex;
flex-direction: row; /* Always vertical */
justify-content: center;
gap: 0.25rem; /* Reduced gap between links */
padding: 10px 0;
}

nav a {
color: rgb(0, 0, 0);
text-decoration: none;
padding: 0px 10px;
border-radius: 2px;
transition: background-color 0.3s, color 0.3s;
}

nav a:hover, nav a:focus {
color: #ddd;
}

/* Layout and Card Styles */
.central_layout {
display: flex;
flex-direction: row; /* Always vertical */
align-items: center;
margin: 0 auto; /* Center the layout */
}

.central_layout > div {
padding: 16px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 90%; /* Adjusted width for mobile */
margin: 8px auto; /* Centered with vertical margin */
}

/* Responsive Styles */
@media (max-width: 768px) {
h1, h2, h4 {
	font-size: 1rem; /* Adjusted for legibility */
}

.central_layout > div {
	width: 90%; /* Slightly less than 100% for some margin */
	margin: 8px auto; /* Center cards with vertical margin */
}

nav {
	gap: 5px; /* Further reduced gap between links for tighter navigation */
}
}
