html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body, h1, h2, p, input, button, select, textarea {
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
	color: #333;
	margin: 0;
	padding: 0; /* Reset padding to zero to allow full-width header */
	box-sizing: border-box;
}

header {
	background-color: #333;
	padding: 1rem 8px;
	color: white;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 2rem;
}

h2 {
	margin-top: 0.5rem;
	font-size: 1.2rem;
	color: #aaa;
}

label {
	display: block;
}

input, button, select, textarea {
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled, button:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1rem;
	}
}


header {
    /* Existing styles for your header */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav {
display: flex;
justify-content: center;
align-items: center;
gap: 0px; /* space between links */
}

nav a {
color: rgb(0,100,200);
text-decoration: none;
padding: 10px 15px;
border-radius: 5px;
transition: background-color 0.2s;
}

    /* Default styles: Categories side by side, cards vertical */
.central_layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	margin: 0% 10%;
    }

    /* For smaller screens: Categories vertical, cards side by side */
    @media (max-width: 768px) {
    .central_layout > div {
        flex-direction: row;
    }
    }
