html, body {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	background: #f9fafc; 
	height: 100%;
	width: 100%;
} 

body, h1, h2, p, input, button, select, textarea {
font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
color: #333;
}

header {
background-color: #ffffff00; /* Slightly lighter for a modern look */
padding: 1.5rem 0;
color: white;
text-align: center;
}

h1 {
margin: 0;
font-size: 2rem;
}

h2 {
margin-top: 0.25rem;
font-size: 1rem;
color: rgb(0, 0, 0);
}

nav {
display: flex;
flex-direction: row; /* Always vertical */
justify-content: center;
gap: 0.25rem; /* Reduced gap between links */
padding: 5px;
}

nav a {
color: rgb(0, 0, 0);
text-decoration: none;
padding: 0px 5px;
border-radius: 2px;
transition: background-color 0.1s, color 0.1s;
}

nav a:hover, nav a:focus {
color: #9e9e9e;
}

/* Layout and Card Styles */
.central_layout {
	margin: 0% 25%;
	display: flex;
	flex-direction: row; /* Always vertical */
	justify-content: center;
}

.central_layout > div {
padding: 16px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: auto; 
margin: 4px auto; /* Centered with vertical margin */
}

/* Responsive Styles */
@media (max-width: 768px) {
h1, h2, h4 {
	font-size: 1rem; /* Adjusted for legibility */
}

.central_layout  {
	flex-direction: column; /* Always vertical */
	width: auto; /* Slightly less than 100% for some margin */
	margin: 2px auto; /* Center cards with vertical margin */
}

nav {
	flex-direction: column;
	align-items: center;
	gap: 2px; /* Further reduced gap between links for tighter navigation */
}
}
